<ion-content>
  <div class="image-container">
    <img src="assets/finance.jpg" alt="Imagem" class="transposed-image" />
    <div class="overlay">
      <br /> <br />
      <form class="form">
        <br />

        <ion-input
          type="text"
          fill="outline"
          label="Login"
          labelPlacement="floating"
        ></ion-input>

        <!-- Password Input -->
        <ion-input
          type="password"
          fill="outline"
          label="Senha"
          labelPlacement="floating"
        ></ion-input>

        <a href="#">Esqueceu sua senha?</a>
        <br />

        <!-- Submit Button -->
        <button class="explore-btn" type="submit">Entrar</button>
      </form>
      
    </div>
  </div>
</ion-content>
