<ion-content>
  <div class="image-container">

    <div class="transposed">
      <ion-button color="medium" size="small">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
      <h1>Ola, Romulo.</h1>
    </div>

    <div class="overlay">
      <div class="container">
      <ion-searchbar placeholder="Digite para pesquisar" debounce="500"></ion-searchbar>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </div>
    </div>
  </div>

</ion-content>