<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<ion-content>
  <div class="image-container">
    <img src="assets/finance.jpg" alt="Imagem" class="transposed-image">
    <div class="overlay">
      <button class="explore-btn" (click)="irParalogin()" >Login</button>
      <button class="explore-btn2" (click)="irParaCadastro()">Cadastra-se</button>

        <div class="icons">
          <button >
            <i class="fab fa-google"></i> 
          </button>
          <button (click)="irParaTabs()">
            <i class="fab fa-facebook-f"></i> 
          </button>
          <button>
            <i class="fab fa-github"></i> 
          </button>
        </div>

    </div>
  </div>
  
</ion-content>

